.icon-left {
    position: absolute;
    top: 0;
    left: 0;
}

.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.season-display.winter i {
    color: skyblue;
}
.season-display.summer i {
    color: orangered;
}


.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.winter { background-color: aliceblue;}
.summer { background-color: orange;}